@{
    ViewBag.Title = "Home Page";
}

<h4>Firebase Authentication</h4>
<ul>
    <li>
        <a href="/FireBaseAuthentication/EmailPassword">
            Firebase Email & Password Authentication
        </a>
    </li>
    <li>
        <a href="/FireBaseAuthentication/Anonymous">
            Anonymous Authentication
        </a>
    </li>
    <li>
        <a href="/FireBaseAuthentication/FacebookPopup">
            Facebook Popup
        </a>
    </li>
</ul>